.header {
  background-color: #333;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  margin-left: 50px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  margin-right: 50px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}
